---
import SpeakerCard from '../shared/SpeakerCard.astro';
import type { Speaker } from '../../types/speaker';

const speakers: Speaker[] = [
  {
    name: "Fahim Shakie",
    role: "CEO @ AGT(All Generations Tech)",
    type: "Guest Speaker",
    image: "/images/speakers/fahim.png"
  },
  {
    name: "Raisul Kabir",
    role: "CEO @ Brainstation 23",
    type: "Guest Speaker",
    image: "/images/speakers/raisul_kabir.png"
  },
  {
    name: "Anam Ahmed",
    role: "VP of Engneering @ ZELF AI",
    type: "Guest Speaker",
    image: "/images/speakers/anam_ahmed.png"
  },
  {
    name: "Mahfuzur Rahman",
    role: "Principal Engineering Manager @ TECHNONEXT",
    type: "Guest Speaker",
    image: "/images/speakers/mahfuzur.png"
  },
  {
    name: "Shahin Mahmud",
    role: "Senior Site Reliability Engineer @ ZEALS",
    type: "Keynote Speaker",
    image: "/images/speakers/shahin.png"
  },
  {
    name: "Minhaz Ahmed Syrus",
    role: "Senior Software Engineer @ Sainbury's Digital, Tech & Data, Ex Amazon, Pathao",
    type: "Keynote Speaker",
    image: "/images/speakers/Minhaz.png"
  },
  {
    name: "Sakib Sami",
    role: "Senior Software Engineer @ GERIMEDICA B.V, Ex Twillo inc",
    type: "Keynote Speaker",
    image: "/images/speakers/sakib.png"
  },
  {
    name: "Sajib Sikder",
    role: "Principal Engineer @ TECHNONEXT",
    type: "Keynote Speaker",
    image: "/images/speakers/sajib.png"
  },
  {
    name: "Tarique M Nasrullah",
    role: "Senior Software Engineer @ Shikho Technologies",
    type: "Keynote Speaker",
    image: "/images/speakers/tarique.png"
  },
  {
    name: "Omran Jamal",
    role: "Product & Engineering Lead @ Pathao LTD.",
    type: "Keynote Speaker",
    image: "/images/speakers/omran.png"
  },
  // Add other speakers...
];
---

<section class="space-y-6 md:space-y-8 lg:space-y-10 slide-up">
  <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold text-center text-gray-100 relative font-oswald uppercase">
    Honorable Speakers and Guests
    <span class="absolute -bottom-3 left-1/2 -translate-x-1/2 w-20 md:w-24 lg:w-32 h-1 bg-gradient-to-r from-cyan-500 to-teal-400"></span>
  </h2>
  
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-8 lg:gap-10">
    {speakers.map((speaker) => (
      <SpeakerCard speaker={speaker} />
    ))}
  </div>
</section>